{% assign communications = site.data.data.communications %}
{% if communications %}
<section class="section communications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-microphone fa-stack-1x fa-inverse"></i>
    </span>
    {{ communications.info }}
  </h2>

  <h3 class="section-subtitle">
    {{ communications.title-1 }}
  </h3>
  
  <div class="conferences">
    <ol reversed="True">
	<li>{{ communications.conference-7 | markdownify }}</li>
	<br>
	<li>{{ communications.conference-6 | markdownify }}</li>
	<br>
	<li>{{ communications.conference-5 | markdownify }}</li>
    <br>
	<li>{{ communications.conference-4 | markdownify }}</li>
	<br>
	<li>{{ communications.conference-3 | markdownify }}</li>
	<br>
	<li>{{ communications.conference-2 | markdownify }}</li>
    <br>
	<li>{{ communications.conference-1 | markdownify }}</li>
	</ol>
  </div><!--//conferences-->
  
  <h3 class="section-subtitle">
    {{ communications.title-2 }}
  </h3>
  
  <div class="symposium">
    <ol reversed="True">
	<li>{{ communications.symposium-4 | markdownify }}</li>
	<br>
	<li>{{ communications.symposium-3 | markdownify }}</li>
	<br>
	<li>{{ communications.symposium-2 | markdownify }}</li>
    <br>
	<li>{{ communications.symposium-1 | markdownify }}</li>
	</ol>
  </div><!--//symposium-->
  
  <h3 class="section-subtitle">
    {{ communications.title-3 }}
  </h3>
  
  <div class="seminar">
    <ol reversed="True">
	<li>{{ communications.seminar-6 | markdownify }}</li>
    <br>
	<li>{{ communications.seminar-5 | markdownify }}</li>
	<br>
	<li>{{ communications.seminar-4 | markdownify }}</li>
	<br>
	<li>{{ communications.seminar-3 | markdownify }}</li>
	<br>
	<li>{{ communications.seminar-2 | markdownify }}</li>
    <br>
	<li>{{ communications.seminar-1 | markdownify }}</li>
	</ol>
  </div><!--//seminar-->
  
  <h3 class="section-subtitle">
    {{ communications.title-4 }}
  </h3>

  <div class="posters">
    <ol reversed="True">
	<li>{{ communications.poster-3 | markdownify }}</li>
	<br>
	<li>{{ communications.poster-2 | markdownify }}</li>
    <br>
	<li>{{ communications.poster-1 | markdownify }}</li>
	</ol>
  </div><!--//posters-->

</section><!--//section-->
{% endif %}
