{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.info }}
  </h2>

  <h3 class="section-subtitle">
    {{ publications.title-1 }}
  </h3>
  
 <div class="papers">
    <ol reversed="True">
	<li>{{ publications.paper-4 | markdownify }}</li>
	<br>
	<li>{{ publications.paper-3 | markdownify }}</li>
	<br>
	<li>{{ publications.paper-2 | markdownify }}</li>
	<br>
	<li>{{ publications.paper-1 | markdownify }}</li>
	</ol>
  </div><!--//papers-->
  
  <h3 class="section-subtitle">
    {{ publications.title-2 }}
  </h3>

 <div class="books">
	<ol reversed="True">
    <li>{{ publications.book-1 | markdownify }}</li>
	</ol>
  </div><!--//books-->
  
  
  <h3 class="section-subtitle">
    {{ publications.title-3 }}
  </h3>
  
 <div class="reviews">
    <ol reversed="True">
	<li>{{ publications.review-1 | markdownify }}</li>
	</ol>
  </div><!--//reviews-->

</section><!--//section-->
{% endif %}
